# https://editorconfig.org/

root = true

# Python files
[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 119

# PEP8
[*.{py,pyi}]
ignore = E203,E266,E501,W503
exclude = .git,__pycache__,build,dist,venv


# HTML files
[*.{html,htm}]
indent_style = space
indent_size = 4
max_line_length = 120
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[**/admin/js/vendor/**]
indent_style = ignore
indent_size = ignore

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

[docs/**.txt]
max_line_length = 79

[*.yml]
indent_size = 4






















































